* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Monserrat", sans-serif;
}

.navbar-brand {
  font-family: "Chelsea Market", cursive;
  font-weight: bold;
}

.page-header {
  font-family: "Chelsea Market", cursive;
  font-weight: bold;
}

#global-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#global-data img {
  margin-top: 2rem;
}

.card {
  background-color: #ecf0f1;
}

.card-header {
  background-color: #2c3e50;
  font-weight: bold;
  color: #ffffff;
}

.card-body {
  color: #000000;
}

.card ul li {
  border: 1px solid #bdc3c7;
}

.heading {
  background-color: #2c3e50;
  font-weight: bold;
  color: #ffffff;
}

section {
  margin-bottom: 2rem;
}
